@font-face {
  font-family: "montserratlight";
  src: url("../CSS/police/montserrat-light-webfont.woff2") format("woff2"), url("../CSS/police/montserrat-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "montserratlight";
  src: url("../CSS/police/montserrat-light-webfont.woff2") format("woff2"), url("../CSS/police/montserrat-light-webfont.woff") format("woff");
  font-weight: normal;
}
@font-face {
  font-family: "opensans-bold";
  src: url("../CSS/police/opensans-bold-webfont.woff") format("woff2"), url("../CSS/police/opensans-bold-webfont.woff2") format("woff");
  font-weight: normal;
}
@font-face {
  font-family: "Roboto ";
  src: url("../CSS/police/Roboto-Regular.ttf");
}
.C_container, .A_container {
  background-color: #1f559c;
  border: 1px solid;
  min-height: 100%;
  position: fixed;
  width: 100%;
  height: 100%;
  color: white;
  font-family: "montserratlight";
  overflow-y: scroll;
  scrollbar-width: none;
}
.C_container::-webkit-scrollbar, .A_container::-webkit-scrollbar {
  width: 0px;
  /* remove scrollbar space */
  background: transparent;
  /* optional: just make scrollbar invisible */
}

.C_login {
  text-align: center;
  margin-bottom: 15%;
  width: 120%;
}

.C_bloc {
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
  background-color: #1e4686;
  width: 28%;
  margin-top: 10%;
  min-height: 40%;
  padding: 2% 10% 4% 6%;
  border-radius: 4%;
}
.C_bloc .C_input input {
  background-color: #6883ae;
  outline: none;
  width: 120%;
  height: 4vh;
  padding-left: 15%;
  border: none;
  border-radius: 5px;
}
.C_bloc .C_input input:hover, .C_bloc .C_input input:focus {
  box-shadow: #fdffff 0 0 8px;
  outline: 0;
  border-radius: 5px;
}

.C_info {
  position: relative;
}
.C_info i {
  display: block;
  position: absolute;
  left: 5px;
  color: rgba(221, 176, 93, 0.7);
  font-size: 1.2em;
  top: 5px;
}

.C_submit {
  background-color: #4d8fff;
  color: white;
  width: 90%;
  height: 40px;
  text-align: center;
  margin-left: 12%;
  margin-top: 20%;
  display: block;
  border: none;
  border-radius: 5px;
  margin-top: 20;
  font-size: 1.1em;
}
.C_submit:hover {
  font-size: 1.2em;
}

#C_lien {
  margin: auto;
  width: 20%;
  margin-top: 3%;
  color: #6883ae;
}
#C_lien a {
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.C_erreur {
  position: absolute;
  color: white;
  width: 100%;
  text-align: center;
  left: -3%;
  top: 10px;
}

header {
  vertical-align: bottom;
  height: 10%;
  width: 100%;
  display: flex;
  border-bottom: 1px solid white;
  position: relative;
}
header h3 {
  height: 50%;
  padding-left: 3%;
  width: 20%;
  vertical-align: left;
  margin-top: 2.2%;
}
header h3 img {
  width: 10%;
  height: 90%;
}
header h4 {
  height: 50%;
  padding-left: 3%;
  width: 30%;
  vertical-align: left;
  margin-top: 3.5%;
  font-size: 1.1em;
}
header nav {
  display: flex;
  bottom: 0;
  right: 10%;
  position: absolute;
  height: 30px;
  box-sizing: border-box;
  margin-left: 60%;
  width: 18%;
}
header nav a {
  padding-top: 5px;
  text-decoration: none;
  color: white;
  display: block;
  width: 45%;
  font-weight: bold;
  text-align: center;
}
header nav a:hover {
  background-color: #3381cb;
  border-radius: 5px;
}

.A_bloc {
  width: 80%;
  display: flex;
  margin-top: 1%;
}

.A_Bloc_progress, .A_Bloc_list, .A_Bloc_done {
  padding: 2%;
  margin-left: 5%;
  height: 85vh;
  position: relative;
  background-color: #3381cb;
  box-sizing: border-box;
  width: 25%;
  color: black;
  margin-bottom: 2vh;
  overflow-y: scroll;
  scrollbar-width: none;
}
.A_Bloc_progress::-webkit-scrollbar, .A_Bloc_list::-webkit-scrollbar, .A_Bloc_done::-webkit-scrollbar {
  width: 0px;
  /* remove scrollbar space */
  background: transparent;
  /* optional: just make scrollbar invisible */
}
.A_Bloc_progress .desc_date, .A_Bloc_list .desc_date, .A_Bloc_done .desc_date {
  width: 30%;
  float: left;
  display: block;
}

.list_container {
  height: 68vh;
  overflow-y: scroll;
  scrollbar-width: none;
}
.list_container::-webkit-scrollbar {
  width: 0px;
  /* remove scrollbar space */
  background: transparent;
  /* optional: just make scrollbar invisible */
}

.list {
  background-color: rgba(141, 184, 226, 0.7);
  padding: 5px;
  margin-bottom: 5%;
  line-height: 20px;
  border-radius: 5px;
  text-align: justify;
}
.list h4 {
  font-weight: bold;
}
.list .titre {
  margin-bottom: 10px;
  font-weight: bold;
}
.list .description {
  margin-bottom: 10px;
}
.list button {
  background-color: rgba(241, 244, 237, 0.503);
  width: 40%;
  font-size: 1.05em;
  height: 30px;
  text-align: center;
  margin-top: 20%;
  display: block;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}
.list button:hover {
  font-size: 1.1em;
}

.new_tache {
  margin-top: 2vh;
  font-weight: bold;
  cursor: pointer;
}
.new_tache:hover {
  font-size: 1.1em;
}

.fo_form_forum {
  position: relative;
  bottom: 0px;
  z-index: 0;
  border: 1px solid black;
  width: 20%;
  padding: 20px;
  margin-left: 4%;
  margin-top: 20px;
  height: 55vh;
  background-color: #ebecf0;
  color: black;
  font-size: 0.9em;
  line-height: 25px;
  margin-bottom: 3vh;
  display: none;
}
.fo_form_forum select {
  width: 97%;
  height: 4vh;
  border-radius: 5px;
}
.fo_form_forum input {
  width: 96%;
  border-radius: 5px;
  outline: none;
  border: 1px solid black;
  height: 3vh;
}
.fo_form_forum input:focus {
  box-shadow: skyblue 0 0 6px;
  border: 1px solid #dfddd5;
}
.fo_form_forum label {
  font-weight: bold;
}
.fo_form_forum textarea {
  width: 95%;
  height: 25vh;
  border-radius: 5px;
  outline: none;
}
.fo_form_forum textarea:focus {
  box-shadow: skyblue 0 0 6px;
  border: 1px solid #dfddd5;
}
.fo_form_forum .fo_date {
  width: 45%;
  float: left;
  margin-right: 5%;
  box-sizing: border-box;
}
.fo_form_forum button {
  outline: none;
  width: 30%;
  font-size: 1.1em;
  background-color: #dfdbdb;
}
.fo_form_forum button:hover {
  font-size: 1.2em;
}

.fo_search {
  height: 3.5vh;
  position: absolute;
  top: 14vh;
  right: 6.5%;
  width: 20%;
  display: none;
}
.fo_search select {
  height: 90%;
  border-radius: 0px;
  margin-right: -1px;
  width: 58%;
  outline: none;
  border: 1px solid gray;
}
.fo_search select:focus {
  /*box-shadow:   #0B8CB8 0 0 5px;*/
  outline: none;
  box-shadow: white 0 0 4px;
  border: none;
}
.fo_search button {
  margin-left: -9%;
  position: absolute;
  height: 3.1vh;
}

/*# sourceMappingURL=style.css.map */
